/**************** Reset ****************/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**************** Root ****************/
:root {
    --bg-body: #f8eade;
    --accent-bg-body: #f4e0cd;
    --light-bronze: #e2ac79;
    --muted-light-bronze: #e2ac79;
    --mauve-bark: #654236;
    --white-ish: #faf5f5;
    --chocolate: #da7635;
    --accent-mauve-bark: #35231D;
}

/**************** Navigation ****************/
#navi {
    background-color: var(--light-bronze);
}

/**************** Hero ****************/
.hero {
    position: relative;
    width: 100%;
    height: 60vh;
}

/* Image de fond */
.hero-img {
    position: absolute;
    inset: 0;
    /* positionne l'élément*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Overlay sombre */
.hero-overlay {
    position: absolute;
    inset: 0;
    /* positionne l'élément*/
    background: rgba(20, 12, 8, 0.45);
}

.hero-content {
    position: relative;
    z-index: 1;
    /* Au dessus de l'image + overlay */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    color: var(--white-ish);
}

.hero-title {
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.hero-subtitle {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--white-ish);
    max-width: 450px;
    /* Pour un subtitle en 2 lignes */
    margin-bottom: 2.5rem;
}

.hero-btn {
    display: inline-block;
    padding: .75rem 2.2rem;
    border: 1px solid var(--muted-light-bronze);
    border-radius: 6px;
    color: var(--white-ish);
    font-weight: 400;
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .25s, color .25s;
}

.hero-btn:hover {
    background: var(--muted-light-bronze);
    color: var(--accent-mauve-bark);
}

/**************** Main ****************/
main {
    background-color: var(--bg-body);
}

.section {
    padding: 3rem 0;
    color: var(--accent-mauve-bark);
}

/**************** About ****************/

.about-section h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: var(--accent-mauve-bark);
}

.about-img {
    width: 100%;
    height: 100%;
    min-height: 260px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--accent-mauve-bark);
}

.about-text p+p {
    margin-top: 1.5rem;
}

/**************** Values ****************/
.value-text, .value-title, .card-body > i {
    color: var(--accent-mauve-bark);
}

.card-body {
    background-color: var(--accent-bg-body);
    height: 25vh;
}

.card-body > i {
    font-size: 3em;
}

/**************** Selection ****************/
/* .img-selection {
    border-radius: 20px; <!-- moche avec colmd3 -->
    width: 100%;
    height: auto;
} */

.selec-div {
    padding-top: 2rem;
}

.selec-div > p {
    font-size: 1.5rem;
    font-weight: 400;
}

.selec-btn {
    display: inline-block;
    padding: .75rem 2.2rem;
    border: 1px solid var(--muted-light-bronze);
    border-radius: 6px;
    color: var(--accent-mauve-bark);
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .25s, color .25s;
    background-color: var(--accent-bg-body);
}

.selec-btn:hover {
    background: var(--muted-light-bronze);
    color: var(--accent-mauve-bark);
}

/**************** Footer ****************/

footer {
    background-color: var(--light-bronze);
    color: var(--mauve-bark);
}

footer a {
    color: var(--mauve-bark);
    text-decoration: none;
    transition: color .2s;
}

footer a:hover {
    color: var(--accent-bg-body);
}

.col-title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    color: var(--accent-mauve-bark);
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border: 1px solid var(--mauve-bark);
    border-radius: 6px;
    font-size: 1.1rem;
    transition: border-color .2s, color .2s;
}

.social-icon:hover {
    border-color: var(--accent-bg-body);
}